<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Ag-Grid (with filter etc...)</h3>

                        <div class="card-tools">
<!--                            <button class="btn btn-success" data-toggle="modal" data-target="#addNewUser">Add New <i-->
<!--                                class="fas fa-user-plus fa-fw"></i></button>-->
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <ag-grid-vue style="width: 100%; height: 400px;"
                                     class="ag-theme-balham"
                                     :columnDefs="columnDefs"
                                     :rowData="rowData">
                        </ag-grid-vue>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addNewUser" :drawserClose="addDepartmentDrawer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createUser">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.name" type="text" name="name"
                                       placeholder="Name"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.email" type="text" name="email"
                                       placeholder="Email Address"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <select v-model="form.type" name="role"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('role') }"
                                >
                                    <option value="">Select User Role</option>
                                    <option :value="r.id" v-for="r in roles">{{r.name}}</option>
                                </select>
                                <has-error :form="form" field="role"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.password" type="password" name="password" id="password" placeholder="Password"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('password') }"/>
                                <has-error :form="form" field="password"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
   import {AgGridVue} from "ag-grid-vue";
    export default {
        data() {
            return {
                users:{},
                roles:{},
                addDepartmentDrawer:false,
                form: new Form({
                    name: '',
                    email: '',
                    password: '',
                    role: '',
                }),
                columnDefs: null,
                rowData: [],
            }
        },
        components: {
            AgGridVue
        },
        methods: {
            loadUsers(){
                this.$Progress.start();
                const response = axios.get('api/json').then(({data})=>(this.rowData = data));
                this.$Progress.finish();
            },
        },
        mounted() {
            console.log('Component mounted.')
        },
        beforeMount() {
            this.columnDefs = [
                {headerName: 'Id', field: 'id', sortable:true, filter: true},
                {headerName: 'User_id', field: 'user_id', sortable:true, filter: true},
                {headerName: 'PageUrl', field: 'pageUrl'},
                {headerName: 'Revenue', field: 'revenue'},
                {headerName: 'Industry', field: 'industry'},
                {headerName: 'isActive', field: 'isActive'}
            ];
        },
        created(){
            this.loadUsers();
            Fire.$on('AfterCreate', ()=>{
                this.loadUsers();
            });
            // setInterval(() => {console.log('this is working')
            // this.loadUsers();}
            // ,3000);
        }


    }
</script>
