<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Manage Roles</h3>

                        <div class="card-tools">
                            <button class="btn btn-success" data-toggle="modal" data-target="#addNewUser">Add New <i
                                class="fas fa-plus fa-fw"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Slug</th>
                                <th>Level</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="role in roles" :key="role.id">
                                <td>{{role.id}}</td>
                                <td>{{role.name}}</td>
                                <td>{{role.slug}}</td>
                                <td>{{role.level}}</td>
                                <td>
                                    <a href="#" @click="deleteUser(role.id)">
                                        <i class="fa fa-trash red"></i>
                                    </a>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addNewUser" :drawserClose="addDepartmentDrawer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="createUser">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.name" type="text" name="name"
                                       placeholder="Name"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <input v-model="form.slug" type="text" name="slug"
                                       placeholder="Role Slug"
                                       class="form-control" :class="{ 'is-invalid': form.errors.has('slug') }">
                                <has-error :form="form" field="slug"></has-error>
                            </div>
                            <div class="form-group">
                            <textarea v-model="form.description" name="description"
                                      placeholder="Short description for Role (optional)"
                                      class="form-control" :class="{ 'is-invalid': form.errors.has('description') }"></textarea>
                                <has-error :form="form" field="description"></has-error>
                            </div>

                            <div class="form-group">
                                <select v-model="form.permissions" name="permissions"
                                        class="form-control" :class="{ 'is-invalid': form.errors.has('permissions') }"
                                        multiple
                                >
                                    <option value="">Select Permissions</option>
                                    <option :value="r.id" v-for="r in permissions">{{r.name}}</option>
                                </select>
                                <has-error :form="form" field="permission"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create Role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                roles:{},
                permissions:{},
                addDepartmentDrawer:false,
                form: new Form({
                    name: '',
                    slug: '',
                    description: '',
                    permissions: '',
                })
            }
        },
        methods: {
            loadUsers(){
                this.$Progress.start();
                axios.get('api/roles').then(({data})=>(this.roles= data.data));
                axios.get('api/permissions').then(({data})=>(this.permissions= data));
                this.$Progress.finish();
            },
            createUser() {
                this.$Progress.start();
                this.form.post('api/roles')
                    .then(()=>{
                        this.addDepartmentDrawer = false;
                        toast.fire({
                            icon: 'success',
                            title: 'Roles Created successfully!!'
                        });
                        this.$Progress.finish();
                        Fire.$emit('AfterCreate');
                    })
                    .catch(()=>{
                        toast.fire({
                            icon: 'error',
                            title: 'You Got Error'
                        });
                        this.$Progress.dismiss();
                    });

            },
            deleteUser(id){

                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete('api/Roles/' + id).then(() => {
                            Fire.$emit('AfterCreate');
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            );
                        }).catch(() => {
                            Swal.fire("Failed!", "There was somthing wrong.", "warning");
                        });
                    }
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        created(){
            this.loadUsers();
            Fire.$on('AfterCreate', ()=>{
                this.loadUsers();
            });
            // setInterval(() => {console.log('this is working')
            // this.loadUsers();}
            // ,3000);
        }


    }
</script>
